<p class="simple_contact_phone_fields">
	<fieldset>
		<div class="field">
			<%= f.label "Type" %>
			<!-- <%= f.text_field :scphonetype %> -->
			<%= f.select :scphonetype, ['Home','Work','Mobile 1','Mobile 2'] %>
&nbsp;&nbsp;
			<%= f.label "Phone Number" %>
			<%= f.phone_field :scphonenumber, :size=>60, class: "phone_fld" %>
			<%= f.hidden_field :_destroy %>
			<%= link_to  image_tag("gemicons/trashcan.png"), '#', class: "remove_fields" %>
		</div>
	</fieldset>
</p>